# Core research code
*.c linguist-language=C
*.h linguist-language=C
*.py linguist-language=Python

# Ignore testbed, web interface, leftover files
www/html/** linguist-vendored
www/**/index.php linguist-vendored
*.zip linguist-vendored
*.tar linguist-vendored
*.o linguist-vendored
*.so linguist-vendored

