# Core research code
*.c linguist-language=C
*.h linguist-language=C
*.py linguist-language=Python

# Ignore web/testbed files that confuse Linguist
www/html/** linguist-vendored
www/html/**/*.php linguist-vendored
www/html/**/*.html linguist-vendored
www/html/**/*.css linguist-vendored

# Ignore leftover binaries
*.zip linguist-vendored
*.tar linguist-vendored
*.o linguist-vendored
*.so linguist-vendored

