services:
    zimpaf_redphuzz_framework:
        build:
            context: .
            dockerfile : Dockerfile_zimpaf_redphuzz
        extra_hosts:
            -   "wackopicko:127.0.0.1"
        container_name: zimpaf_redphuzz
        networks:
            -   rednet
        ports:
            -   "8080:80"
        volumes:
            -   ./redphuzz:/redphuzz:rw
        depends_on:
            -   benchmarks_db_zrf

    benchmarks_db_zrf:
        image: mysql:8.0
        container_name: db_zredphuzzf_mysql
        command: --default-authentication-plugin=mysql_native_password
        networks:
            rednet:
                aliases:
                    -   db_host

        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        volumes:
            -   ./db_init:/docker-entrypoint-initdb.d

    pcov_uopz_phuzz_framework:
        build:
            context: .
            dockerfile : Dockerfile_pcov_uopz_phuzz
        extra_hosts:
            - "wackopicko:127.0.0.1"
        container_name: pcov_uopz_phuzz
        networks:
            -   phunet
        ports:
            - "9090:80"
        volumes:
            - ./phuzz:/phuzz:rw
        depends_on:
            - benchmarks_db_pupf

    benchmarks_db_pupf:
        image: mysql:8.0
        container_name: db_puphuzzf_mysql
        command: --default-authentication-plugin=mysql_native_password
        networks:
            phunet:
                aliases:
                    - db_host
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        volumes:
            - ./db_init:/docker-entrypoint-initdb.d
networks:
    rednet:
    phunet:
